<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="internal-nlog.txt">
  <!--define various log targets-->
  <targets>
    <target name="logstash" xsi:type="Network" address="tcp://127.0.0.1:9952" layout="${longdate}|${logger}|${uppercase:${level}}|${message}|${exception}"/>
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="logstash" />
  </rules>
</nlog>